<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holowiki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoloWiki">
        <activity android:name=".hololive.gen0.Sora_Activity"></activity>
        <activity android:name=".hololive.gen0.Miko_Activity"></activity>
        <activity android:name=".hololive.gen0.Roboco_Activity"></activity>
        <activity android:name=".hololive.gen0.Suisei_Activity"></activity>
        <activity android:name=".hololive.english.Amelia_Activity"></activity>
        <activity android:name=".hololive.english.Calli_Activity"></activity>
        <activity android:name=".hololive.english.Gura_Activity"></activity>
        <activity android:name=".hololive.english.Ina_Activity"></activity>
        <activity android:name=".hololive.english.Kiara_Activity"></activity>
        <activity android:name=".hololive.gen1.Aki_Activity"></activity>
        <activity android:name=".hololive.gen1.Matsuri_Activity"></activity>
        <activity android:name=".hololive.gen1.Fubuki_Activity"></activity>
        <activity android:name=".hololive.gen1.Haato_Activity"></activity>
        <activity android:name=".hololive.gen2.Aqua_Activity"></activity>
        <activity android:name=".hololive.gen2.Choco_Activity"></activity>
        <activity android:name=".hololive.gen2.Shion_Activity"></activity>
        <activity android:name=".hololive.gen2.Subaru_Activity"></activity>
        <activity android:name=".hololive.gen3.Flare_Activity"></activity>
        <activity android:name=".hololive.gen3.Noel_Activity"></activity>
        <activity android:name=".hololive.gen3.Pekora_Activity"></activity>
        <activity android:name=".hololive.gen3.Rushia_Activity"></activity>
        <activity android:name=".hololive.gen4.Coco_Activity"></activity>
        <activity android:name=".hololive.gen4.Kanata_Activity"></activity>
        <activity android:name=".hololive.gen4.Luna_Activity"></activity>
        <activity android:name=".hololive.gen4.Towa_Activity"></activity>
        <activity android:name=".hololive.gen4.Watame_Activity"></activity>
        <activity android:name=".hololive.gen5.Botan_Activity"></activity>
        <activity android:name=".hololive.gen5.Lamy_Activity"></activity>
        <activity android:name=".hololive.gen5.Nene_Activity"></activity>
        <activity android:name=".hololive.gen5.Polka_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen1.Iofi_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen1.Moona_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen1.Risu_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen2.Anya_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen2.Ollie_Activity"></activity>
        <activity android:name=".hololive.indonesia.gen2.Reine_Activity"></activity>
        <activity android:name=".holostars.gen1.Arurandeisu_Activity"></activity>
        <activity android:name=".holostars.gen1.Izuru_Activity"></activity>
        <activity android:name=".holostars.gen1.Kira_Activity"></activity>
        <activity android:name=".holostars.gen1.Miyabi_Activity"></activity>
        <activity android:name=".holostars.gen1.Rikka_Activity"></activity>
        <activity android:name=".holostars.gen1.Suzaku_Activity"></activity>
        <activity android:name=".holostars.gen2.Astel_Activity"></activity>
        <activity android:name=".holostars.gen2.Tenma_Activity"></activity>
        <activity android:name=".holostars.gen2.Roberu_Activity"></activity>
        <activity android:name=".holostars.gen3.Kaoru_Activity"></activity>
        <activity android:name=".holostars.gen3.Oga_Activity"></activity>
        <activity android:name=".holostars.gen3.Shien_Activity"></activity>
        <activity android:name=".hololive.gen0.Hololive_Gen0" />
        <activity android:name=".hololive.gen1.Hololive_Gen1" />
        <activity android:name=".hololive.gen2.Hololive_Gen2" />
        <activity android:name=".hololive.gen3.Hololive_Gen3" />
        <activity android:name=".hololive.gen4.Hololive_Gen4" />
        <activity android:name=".hololive.gen5.Hololive_Gen5" />
        <activity android:name=".hololive.indonesia.Hololive_ID_Activity" />
        <activity android:name=".hololive.indonesia.gen1.HololiveID_Gen1"/>
        <activity android:name=".hololive.indonesia.gen2.HololiveID_Gen2"/>
        <activity android:name=".hololive.english.HololiveEN" />
        <activity android:name=".holostars.gen1.Holostar_Gen1" />
        <activity android:name=".holostars.gen2.Holostar_Gen2" />
        <activity android:name=".holostars.gen3.Holostar_Gen3" />
        <activity android:name=".hololive.Hololive_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>